@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.best-services {
  padding-top: 5%;
  background-color: #ffffff;
}

.img-fruit {
  width: 120px;
  height: 120px;
  left: 80px;
  top: 25%;
  animation: fruit-img 5s alternate infinite;
}

.best-services h2 {
  font-family: Playfair Display;
  font-size: calc(33px + 12 * (100vw / 1700));
}

.best-services-text {
  width: 550px;
  color: #4a4949;
  font-family: Roboto;
  font-size: 19px;
}

@keyframes fruit-img {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-50px);
  }
}

/* ----------------------------------------------------------------------------- */

@media(max-width:1200px) {

  .img-fruit,
  .img-food {
    display: none;
  }
}

@media(max-width:768px) {
  .best-services-img {
    display: none;
  }
}

@media(max-width:576px) {
  .best-services-text {
    width: 100%;
  }
}