@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.left-col {
  background-color: #ffbe00;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}


.cullinary-experience {
  background-color: #ffffff;
  padding-top: 8%;
}

.cullinary-experience::before {
  content: '';
  display: block;
  width: 30%;
  height: 488px;
  background-color: #ffbe00;
  position: absolute;
}

.cullinary-experience-row {
  margin-bottom: 11%;
}

.right-column-text h2 {
  width: 70%;
  font-family: Playfair Display, Playfair;
  font-weight: normal;
  margin-bottom: 1.5%;
}

.right-column-text p {
  font-size: 16px;
  width: 80%;
  font-family: Roboto;
  font-weight: normal;
  line-height: 25px;
}

.right-column {
  padding-top: 5%;
  padding-left: 3.5%;
}

.gallery {
  margin-bottom: 11%;
}

.cullinary-experience-galery h2 {
  width: 60%;
  font-family: Playfair Display, Playfair;
  font-weight: normal;
}

.cullinary-experience-img h4 {
  font-size: 20px;
  font-family: Roboto;
  color: #3a3a3a;
}

/* -------------------------------------------------------------------------------- */

@media(max-width:1400px) {
  .cullinary-experience::before {
    height: 418px;
  }
}

@media(max-width: 1200px) {
  .container-img2 {
    display: none;
  }

  .right-column-text h2 {
    width: 100%;
  }

  .right-column-text p {
    width: 100%;
  }

  .cullinary-experience::before {
    height: 491px;
  }
}

@media(max-width: 1200px) {
  .cullinary-experience::before {
    display: none;
  }
}

@media(max-width: 768px) {
  .left-col {
    width: 100%;
  }

  .cullinary-experience-galery h2 {
    width: 100%;
  }
}