@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.culinary-section {
  background-color: #ffffff;
}

.culinary-section ul li {
  color: black;
  border-bottom: 1px solid #ececec;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  transition: all .4s ease-in-out;
}

.active-category,
.culinary-section ul li:hover {
  color: #ffbe00 !important;
  background-color: #ececec;
}

.mt6 {
  margin-top: 6%;
}

.culinary-section-search {
  height: 45px;
  border-radius: 0;
}

.culinary-section-search:focus,
.culinary-section-search:active {
  box-shadow: none;
  border-color: #ffbe00;
}

.search-icon {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: #5e5d5d;
}

/* --------------------------------------------------------------------------------------------------------------------- */

@media(max-width: 992px) {
  .culinary-section-product {
    display: flex;
    justify-content: center;
  }
}