@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.our-company {
  padding-top: 5%;
  background-color: #ffffff;
}

.best-service-text-section {
  margin-bottom: 5%;
}

.img-fruit {
  width: 120px;
  height: 120px;
  left: 80px;
  top: 100px;
  animation: fruit-img 5s alternate infinite;
}

.our-company h2 {
  font-family: Playfair Display;
  font-size: calc(33px + 12 * (100vw / 1700));
}

.our-company-text {
  width: 550px;
  color: #4a4949;
  font-family: Roboto;
  font-size: 19px;
}

.best-service-img {
  border-radius: 70px;
  width: 150px;
  height: 494px;
}

.our-company-card {
  background-color: #ffb206;
  width: 320px;
  height: 260px;
}

.our-company-card h3 {
  color: #131313;
  font-size: 36px;
  font-family: Playfair Display;
}

.our-company-card p {
  color: #252525;
  font-family: Roboto;
  line-height: 30px;
}

.our-company-card-img {
  width: 320px;
  height: 260px;
}

.content-col {
  width: 320px;
  height: 260px;
}

/* ----------------------------------------------------------------------------- */

@media(max-width:1200px) {

  .img-fruit,
  .img-food {
    display: none;
  }

  .our-company-card,
  .our-company-card-img,
  .content-col {
    width: 100%;
  }
}

@media(max-width:768px) {
  .our-company-img {
    display: none;
  }
}

@media(max-width:576px) {
  .our-company-text {
    width: 100%;
  }
}