.rotated-img {
  animation: rotate-img 5s linear infinite;
  animation-fill-mode: both;
}

@keyframes rotate-img {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}