.shopping-cart {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 7.8%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: -7px -5px 16px #00000024;
}

.shopping-cart-text-color {
  color: #5d5a77;
  font-family: roboto;
}

.shopping-cart-orders {
  font-size: 22px;
  font-weight: normal;
}

.shopping-cart-price {
  color: #1c1c1c;
  font-size: 19.2px;
}

.mt7 {
  margin-top: 7px;
}

.shopping-cart-icon {
  cursor: pointer;
}

.shopping-cart-icon:hover,
.shopping-cart-icon:active,
.shopping-cart-icon:visited {
  color: black;
}

.shopping-cart-products {
  bottom: 7.8%;
}

.px8 {
  padding: 0 8.3%;
}

.offcanvasheader .btn-close {
  background-color: white;
}

.shoping-cart-img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.cart-icon {
  cursor: pointer;
  color: #ffbe00;
}

.cart-icon:hover {
  color: #5d5a77;
}

.products-row {
  background-color: #efefef;
  border-radius: 10px;
}

.empty-img {
  width: 185px;
  height: 180px;
}



/* ---------------------------------------------------------------------------------- */

@media(max-width: 768px) {
  .mt7 {
    margin-top: 0;
  }

  .shopping-cart-orders {
    font-size: 19.2px;
  }

  .px8 {
    padding: 0;
  }

  .shoping-cart-img {
    width: 70px;
  }
}

@media(max-width: 470px) {
  .cart-icon {
    margin-top: -10px;
  }

  .shopping-cart-orders {
    font-size: 19px;
    font-weight: normal;
  }

  .shopping-cart-price {
    font-size: 17px;
  }
}