.special-offer-left-col {
  padding-left: 18%;
}

.special-offer-right-col {
  background-image: url(../img/bg-food.png);
}

/* -------------------------------------------------------------------------------- */

@media(max-width:1200px) {
  .special-offer-center-col {
    display: none;
  }
}

@media(max-width:768px) {
  .special-offer-left-col {
    padding-left: 5%;
  }
}